h1 {
    font-size: 50px;
    border: 5px;
    margin: 0;
    text-align: left;
}

h2 {
    font-size: 30px;
}

.mydescription {
    font-size: 20px;
}

.myskills p {
    font-size: 20px;
}

.container {
    width: 100%;
    background-color: grey;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

}

.python {
    width: 40%;
    background-color: red;
}

.java {
    width: 50%;
    background-color: green;
}

.html {
    width: 20%;
    background-color: blue;
}

.bash {
    width: 15%;
    background-color: black;
}

.git {
    width: 20%;
    background-color: purple;
}

.js {
    width: 35%;
    background-color: darkslategray
}

.hobbies p {
    font-size: 20px;
}

.bottom {
    padding-bottom: 125px;
}