h1 {
    text-align: center;
}

h2 {
    overflow: hidden;
    clear: both;
    text-align: center;
    color: white;
    background-color: black;
}

h3 {
    clear: both;
    font-size: 20px;
    font-weight: 900;
}

.work img {
    border: 2px solid;
    border-color: black;
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
}

P.dates {
    font-size: 20px;
}

p.description {
    float: left;
    margin: auto;
    border: 2px solid;
    padding: 5px;
    width: 70%;
    text-align: left;
    font-size: 20px;
}

.bottom {
    
}